:root {
    --primary-color: hsl(158, 36%, 37%);
    --primary-body-color: hsl(30, 38%, 92%);

    --heading-color: hsl(212, 21%, 14%);
    --font-color: hsl(228, 12%, 48%);
    --card-background-color: hsl(0, 0%, 100%);

    --button-hover-color: #1A4031;
}